@import 'partials/mixins';
@import 'partials/vars';
@import 'partials/colors';
@import 'partials/fonts';

$color--body-bkg: #DDE9F6;

body {
  background-color: $color--body-bkg;
  font-family: 'Source Sans Pro', sans-serif;
}
