$button-base-bkg: $blue;
$button-base-hover: $dark-blue;
$button-play-bkg: $green;
$button-pause-bkg: $light-blue;
$button-color: #fff;

button {
  background-color: $button-base-bkg;
  border: none;
  border-radius: 3px;
  color: $button-color;
  padding: 1em 0;
  font-size: 1rem;
  text-transform: uppercase;

  &:hover {
    transition: all .5s;
    @include button-hover-color($button-base-bkg);
    box-shadow: $global-shadow;
  }


  &.play {
    background-color: $button-play-bkg;

    &:hover {
      @include button-hover-color($button-play-bkg);
    }
  }
}
