/* colors */
$color--body-bkg: #dde9F6;
$color--blue: #369;
$color--light-blue: lighten($color--blue, 10%);
$color--dark-blue: #2f4858;
$color--grey: #cfcfcf;
$color--light-grey: #f4f2f3;
$color--green: #1bc889;
$color--dark-grey: darken($color--grey, 35%);
$color--blue-grey: #223843;
$color--red: #d00;
$color--timer-primary: #859bb0;
