$timer-max-size: 20em;
$rounded-value: 20em;

.timer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: $timer-max-size;
  margin: 0 auto;

  .time-output {
    width: $timer-max-size;
    height: $timer-max-size;
    background: #f7f7f7;
    border: 10px solid darken(#f7f7f7, 15%);
    border-radius: $rounded-value;
    margin: 1em 0;
  }

  button {
    margin-bottom: 1em;
    width: $timer-max-size;
  }
}
