$color--timer-output: $color--timer-primary;
$timer-max-size: 20rem;
$radius-value: 20rem;

.timer {
  width: calc(#{$timer-max-size} + 1.25em);
  margin: 0 auto;

  .time-output {
    font-size: 4.5rem;
    font-weight: $ultra-bold;
    color: $color--timer-output;
    width: $timer-max-size;
    height: $timer-max-size;
    line-height: $timer-max-size;
    border: 10px solid $color--timer-output;
    border-radius: $radius-value;
    margin: .25em 0;
    box-shadow: $global-shadow;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.12);
  }
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;

  button {
    margin: 1em .5em;
    width: $timer-max-size;
  }
}

.description {
  margin: 0 .3em;

  textarea {
    background-color: $color--body-bkg;
    border: 3px solid $color--timer-primary;
    width: $timer-max-size;
    height: 7em;
    margin-bottom: .5em;
  }

  button[type=submit] {
    width: 100%;
  }
}
